@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgb(14, 15, 33); 
    color: #ffffff;
    
}

h1 {
    font-weight: 400;
}

nav {
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255);
}

nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin: 0 20px;
    color: rgb(14, 15, 33);
}
nav ul li a {
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(14, 15, 33);
    padding: 0 5px;
    border-radius: 5px;
    transition: 0.5s;

}
nav ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(14, 15, 33);
}

nav ul li p {
    font-size: 1.2em;
    font-weight: 500;
}
nav ul li img {
    height: 20px;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    height: 100vh;
}

#home h1 {
    font-size: 5em;
    font-weight: 500;
    width: 600px;
}
#home img {
    height: 600px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.center img {
    height: 100px;
}

.content {
    width: 900px;
    padding: 20px;
    border-radius: 10px;
}

#html .content {
    box-shadow: 0px 0px 10px 4px rgb(255 87 34);

}

#css .content {
    box-shadow: 0px 0px 10px 4px rgb(33 150 243);

}

#javascript .content {
    box-shadow: 0px 0px 10px 4px rgb(255 223 0);

}

#php .content {
    box-shadow: 0px 0px 10px 4px rgb(119 123 179);

}

#html, 
#css,
#javascript,
#php {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12vh;
    min-height: 100vh;
}

#html h1,
#css h1, 
#javascript h1,
#php h1{
    margin: 20px 0;
}

#html p, 
#css p,
#javascript p,
#php p{
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    letter-spacing: 1.5px;
    line-height: 30px;
}

#html span, 
#css span,
#javascript span,
#php span{
    padding: 0 5px;
    color: rgb(14, 15, 33);
    background-color: rgb(205, 205, 205);
    border-radius: 3px;
}

#html ul, 
#css ul,
#javascript ul,
#php ul{
    list-style-type: decimal;
    margin-left: 20px;
}

#html ul li, 
#css ul li,
#javascript ul li,
#php ul li{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
